<!DOCTYPE html>
<html lang="en">
<head><title>Progress Report</title></head>
<body>
  <h1>Welcome to Progress Report</h1>
  <h2>Let's get started. Please tell us more about you and your academic history and interests!</h2>
  <p>Please share your netid and upload your transcript. You must <a href='http://www.pcworld.com/article/2873665/how-to-remove-encryption-from-a-pdf-file.html'>unencrypt</a> your transcript first to let us see it.</p>
  <form enctype="multipart/form-data" method="post"><input type="text" name="netid"></input><input type="file" accept=".pdf" name="transcript"></input><input type="submit" name="Submit"></input></form>
</body>
</html>
